.profile-container {
  box-sizing: border-box;
  height: calc(100vh - 79px);
}

.profile-banner-row {
  background-color: bisque;
  padding: 0 clamp(1rem, 8vw, 10rem);
}

.badges svg {
  margin: 0 4px;
}

.banner-img {
  text-align: center;
}

.banner-details {
  margin-top: 2% !important;
}

.profile-detail-row {
  padding: 0 clamp(1rem, 10vw, 10rem);
}

.profile-body-nav-col {
  border-right: 1px solid black;
  padding-right: 0 !important;
}

.profile-body-nav {
  display: flex;
  flex-direction: column;
}

.profile-body-nav .nav-link.active {
  background-color: blue;
  color: white !important;
}

.profileTabContent {
  border: none !important;
}

.profileTabAccordian {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.profileTabAccordian .accordion-item {
  box-shadow: 0 3px 4px gray;
}

.profileTabAccordian .accordion-button:focus {
  box-shadow: none !important;
}