/* CourseSelection */
.divider {
  border-bottom: 1px solid #a0a0a0;
  margin-bottom: 2vh;
  padding-top: 1vh;
}

.mt-5 > h3 {
  font-weight: bold;
}

/* Course tab items */
.nav-link {
  color: black !important;
  border-color: transparent !important;
  border-bottom: none !important;
  font-size: large;
}

.nav-link.active{
  font-weight: bold;
}

/* Course tab content */
.courseTabs {
  border: none !important;
}

.courseTabs button {
  background-color: transparent !important;
}

.tab-content  {
  border: 1px solid #a0a0a0;
  border-radius: 20px;
  padding: 2%;
}

.tap-pane-container > h4 {
  font-weight: bold;
}

#sub-title1 {
  font-size: 15px;
}

#sub-title2 {
  font-size: 14px;
  color: #6e6e6e;
}

.courseReview {
  display: inline-flex;
  align-items: center;
  color: #FB8200;
}

.coursePrice {
  font-weight: 700;
}

/* Course tab card (related courses) */
.coursesCard {
  margin-top: 4vh;
}

.coursesCard > img {
  object-fit: contain;
  max-width: auto;
}

.coursesCard .card-title {
  font-weight: bold;
}