h4 {
  font-weight: bolder;
}

.signUpDivider {
  width: 100%;
}

.contentHeader {
  text-align: center;
}

.contentContainer  {
  text-align: left;
}

.btnForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50vh;
}

.btnForm > button {
  text-align: left !important;
  box-shadow: 2px 2px 4px gray;
}

.btnForm > button:hover {
  box-shadow: 6px 6px 0px #10162F;
  transform: translate(-2px, -2px);
}

.btnForm > button:last-child {
  text-align: center !important;
}

#login {
  background-color: #FA8100;
  border-color: #FA8100;
}

.btnForm img {
  max-width: 36px;
  margin-left: 1vw;
  margin-right: 2vw;
}

.btnForm input {
  border-color: gray;
  border-width: 2px;
}

.btnForm input:focus {
  border-color: #10162F;
  box-shadow: 6px 6px 0px #10162F;
  transform: translate(-2px, -2px);
}