.official-plan-container {
  margin-top: 2vh;
  margin-bottom: 4vh;
  padding: 68px !important;
}

/* Align the "เรียน Offificial" */
th.startHead {
 padding-bottom: 14vh !important;
}

.startHead h1 {
  font-weight: bold;
}

.detailFlexBox {
  display: flex;
  flex-direction: column;
}

.detailFlexBox .btn {
  align-self: center;
  width: 16vw;
  text-align: center;
  font-weight: 600;
  margin-bottom: 2vh;
}

.detailContent {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 3vw;
}

.detailContent h5 {
  font-weight: 700;
}

td {
  text-align: center;
  font-size: 18px;
}

tr td :first-child {
  text-align: left;
}

td#topic {
  text-align: left;
  padding-left: 2vw;
}

td h4 {
  font-weight: 600;
}